/* Encabezados */
h1 {
    color: #b22222; /* Rojo oscuro */
    text-align: center;
    font-size: 2.5rem;
    margin-top: 50px;
}
h2 {
    color: #b22222; /* Rojo oscuro */
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
}

/* Formularios */
form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* Contenedor del chat */
#chat-container {
    display: relative; /* Mantiene la imagen y el chat en línea */
    margin-top: 10px; /* Margen superior para separación del encabezado */
    margin: 180px;
    max-height: 200px;
}

/* Chat messages */
#chat-messages {
    width: 90%;
    max-width: 800%;
    margin: 20px 0; /* Cambiar el margen para alinear mejor */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px; /* Limita la altura del contenedor */
    overflow-y: auto; /* Permite desplazamiento vertical */
}

#chat-containerchat{
    width: 71%;
}

/* Imagen */
#box-img-chat {
    margin-right: 20px; /* Espacio entre la imagen y el chat */
    left: 50%;

}

#box-img-chat img {
    height: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
}

/* Formulario de mensaje */
#message-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#message-input {
    width: 70%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

/* Botón Dashboard */
.card {
    margin-bottom: 20px; /* Ajusta este margen si es necesario */
}

.card button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: #b22222; /* Rojo oscuro */
    color: white; /* Texto blanco */
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card button:hover {
    background-color: white; /* Fondo blanco al pasar el cursor */
    color: #b22222; /* Texto rojo al pasar el cursor */
}

/* Funcion Escribiendo */
#chat-messages {
    padding: 10px;
    border-radius: 8px;
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
}

.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    max-width: 100%;
    word-wrap: break-word;
}

.message.user {
    background-color: #dcf8c6;
    align-self: flex-end;
    text-align: right;
}

.message.bot {
    background-color: #ffffff;
    align-self: flex-start;
}

#typing-indicator {
    font-style: italic;
    color: gray;
    margin-top: 10px;
}



/* Responsividad */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    button, #send-button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }

    #message-input {
        width: 60%;
        font-size: 0.9rem;
    }

    #chat-messages {
        max-width: 100%;
        margin: 10px 0; /* Ajuste del margen */
    }
}
