/* Encabezados */
h1 {
    color: #b22222; /* Rojo oscuro */
    text-align: center;
    font-size: 2.5rem;
    margin-top: 50px;
}
h2 {
    color: #b22222; /* Rojo oscuro */
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
}

/* Formularios */
form {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* Botón en el formulario de index */
#message-input button {
    background-color: #b22222;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff6347; /* Rojo más claro */
}

button:focus {
    outline: none;
}

/* Chat container */
#chat-messages {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    overflow-y: auto;
}

#message-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#message-input {
    width: 70%;
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#send-button {
    background-color: #b22222;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#send-button:hover {
    background-color: #ff6347;
}


/* Responsividad */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    button, #send-button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }

    #message-input {
        width: 60%;
        font-size: 0.9rem;
    }

    #chat-messages {
        max-width: 100%;
        margin: 10px auto;
    }
}
